{% extends "base.html" %} {% block title %}New WOL{% endblock %} {% block content
    %}
    <form method="POST" class="text-white w-50 position-absolute start-50 translate-middle-x">
      <div class="row">
        <div class="col">
          <h3 class="text-center">Add New Wake-On-LAN Monitor</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label for="hostname">Hostname</label>
        </div>
        <div class="col-md-6">
          <label for="hostname">MAC Address</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="hostname" name="hostname" placeholder="Enter Hostname" />
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="mac" name="mac" placeholder="Enter MAC Address" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="heartbeat">Monitor</label><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <select class="form-control" name="monitor" id="monitor">
              <option value="ping">Ping</option>
              <option value="http">HTTP</option>
              <option value="https">HTTPS</option>
          </select>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="address" name="address" placeholder="IP Address / URL" />
        </div>
      </div>
      <div class="row my-4">
        <div class="col">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </div>
    </form>
    {% endblock %}